<div class="detail-section">
    <div class="container-fluid">
        
        <img src="{{product.imageUrl}}" class="detail-img">

        <h2>{{ product.name }}</h2>
        
        <div class="price">{{ product.unitPrice | currency:'INR' }}</div>

        <button (click)="addToCart()" class='btn btn-primary btn-sm'>Add to cart</button>

        <hr>
        <h4>Description</h4>

        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Back to products</a>

    </div>
</div>
